html {
  height: 100%;
  width: 100%;
}
.mainViewHeading {
  height: 45px !important;
}
.arrowColor {
  color: #616671 !important;
}
.title {
  display: inline;
  white-space: normal;
}
.headerClass {
  color: #fff !important;
}
.headerPadding {
  margin-top: 10px;
}
.header_img {
  height: 30px;
  float: left;
}
.classIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 1px;
  margin-top: 15px;
}
.classIconBig {
  width: 23px;
  height: 23px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 1px;
  text-align: center;
  line-height: 23px;
}
.classLabel {
  font-size: 8pt;
  display: inline-block;
  vertical-align: top;
}
.ListItemRightText {
  position: relative;
  float: right;
  line-height: normal;
  margin-right: 40px;
  color: #000;
  margin-top: 0px;
}
.ListItemRightTextCategories {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #616671 !important;
  margin-top: 0px;
}
.nbaPlayerStatsMenuItem {
  float: none !important;
  overflow: hidden !important;
  display: block !important;
  color: #616671 !important;
  text-overflow: ellipsis !important;
}
.nbaPlayerStatsMenuItemNoFloatNormalWidth,
.nbaPlayerStatsMenuItemNoFloat {
  overflow: hidden !important;
  display: block !important;
  color: #616671 !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.boxscorePlayerStatsMenuItemNoFloatNormalWidth {
  overflow: hidden !important;
  display: block !important;
  color: #616671 !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  margin-top: 8px !important;
}
.nbaPlayerStatsMenuItemNoFloat {
  width: 50%;
}
.playerListItemLabel {
  overflow: hidden;
  width: 90%;
  display: inline-block !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
.nbaPlayerStatsSearchMenuItem {
  color: #616671 !important;
}
.nbaPlayerStatsListItemIcon {
  height: 19px !important;
  width: 19px !important;
  color: #616671 !important;
  margin-top: 8px !important;
}
.nbaPlayerStatsHeaderIcon {
  height: 19px !important;
  width: 19px !important;
  color: #fff !important;
  margin-top: 8px !important;
}
.playerFilterContainer {
  width: 100%;
}
.playerFilterButton {
  background-color: #f7f7f7 !important;
  color: #000 !important;
}
.menuItemLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
}
.playerSearchField {
  height: 40px !important;
  border: 1px solid #d3d3d3 !important;
}
.simpleSelect {
  width: 100%;
  height: 30px;
  font-size: 14pt;
}
.infoClass {
  text-align: center !important;
  color: #616671 !important;
  font-family: Helvetica !important;
}
.frontInfoText {
  text-align: center !important;
  color: #fff !important;
  font-family: Helvetica !important;
  font-size: 16pt;
  height: 100%;
  width: 100%;
}
.spinnerBlue {
  color: #0c68a8 !important;
}
.playerDetailHeaderClass {
  text-align: center !important;
  color: #fff;
  background-color: #0c68a8;
!important
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14pt;
  font-weight: bold;
}
!important
.detailPlayerDataTimestamp {
  font-size: 10pt;
  display: inline-block;
}
.detailValueCell {
  text-align: left !important;
  font-size: 24pt;
}
.detailClassificationCell1 {
  text-align: right !important;
  font-size: 14pt;
}
.detailClassificationCell2 {
  text-align: left !important;
  font-size: 14pt;
}
.compareClassificationCell1 {
  text-align: left !important;
  font-size: 10pt;
}
.mblListItemRightIcon * {
  border-color: #616671 !important;
}
.backBtnClass {
  outline: none !important;
  color: #fff !important;
  line-height: normal !important;
}
.frontClass {
  height: 100%;
  width: 100%;
  background-color: #e41a4c;
}
.desktopVersionURL {
  text-align: center;
  color: #616671;
}
.mblEdgeToEdgeCategory {
  background-color: #616671 !important;
  color: #fff !important;
  width: 100% !important;
  margin-left: 0px !important;
}
.player {
  color: #00e;
  text-decoration: underline;
}
.teamCell {
  color: #00e;
  text-decoration: underline;
}
.comparisonHighlight {
  background: #ff0;
}
.divLogo {
  background-color: #eee;
}
.boxscoreDatePicker {
  width: 95%;
}
.boxscoreHeader {
  color: #e41a4c;
  font-weight: bold;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;
}
