
#divCategoryPoints {
    font-size: 12px;
    color: blue;
}

#divCategoryAssists {
    font-size: 12px;
    color: blue;
}

#divCategoryRebounds {
    font-size: 12px;
    color: blue;
}

#divCategoryBlocks {
    font-size: 12px;
    color: blue;
}

#divCategoryMinutes {
    font-size: 12px;
    color: blue;
}

#divCategorySteals {
    font-size: 12px;
    color: blue;
}

#divCategoryPointsPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryAssistsPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryReboundsPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryBlocksPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryMinutesPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryStealsPlayoff {
    font-size: 12px;
    color: blue;
}

#teamStatsTable {
    font-size: 10px;
}

#teamPlayoffStatsTable {
    font-size: 10px;
}

#topcategoriestext {
	font-weight: bold;
}

#playername {
	font-weight: bold;
}


.dgrid {
	font-size: 9px;
	font-weight: bold;
}

