a {
    text-decoration: none !important;
}

#divCategoryPoints {
    font-size: 12px;
    color: blue;
}

#divCategoryAssists {
    font-size: 12px;
    color: blue;
}

#divCategoryRebounds {
    font-size: 12px;
    color: blue;
}

#divCategoryBlocks {
    font-size: 12px;
    color: blue;
}

#divCategoryMinutes {
    font-size: 12px;
    color: blue;
}

#divCategorySteals {
    font-size: 12px;
    color: blue;
}

#divCategoryTurnovers {
    font-size: 12px;
    color: blue;
}

#divCategoryEfficiency {
    font-size: 12px;
    color: blue;
}

#divCategoryPersonalFouls {
    font-size: 12px;
    color: blue;
}

#divCategoryFieldGoal {
    font-size: 12px;
    color: blue;
}

#divCategory3PointFieldGoal {
    font-size: 12px;
    color: blue;
}

#divCategoryFreeThrow {
    font-size: 12px;
    color: blue;
}

#divCategoryAssistsPerTurnover {
    font-size: 12px;
    color: blue;
}

#divCategoryStealsPerTurnover {
    font-size: 12px;
    color: blue;
}

#divCategoryPointsPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryAssistsPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryReboundsPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryBlocksPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryMinutesPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryStealsPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryTurnoversPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryEfficiencyPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryFieldGoalPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategory3PointFieldGoalPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryFreeThrowPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryAssistsPerTurnoverPlayoff {
    font-size: 12px;
    color: blue;
}

#divCategoryStealsPerTurnoverPlayoff {
    font-size: 12px;
    color: blue;
}


#divCategoryPersonalFoulsPlayoff {
    font-size: 12px;
    color: blue;
}

.playerInfoClass {
    font-size: 12px !important;
}

.playerInfoClass2 {
    font-size: 10px !important;
}


#teamStatsTable {
    font-size: 10px;
}

#teamPlayoffStatsTable {
    font-size: 10px;
}

#topcategoriestext {
	font-weight: bold;
}

#playername {
	font-weight: bold;
}

.dgrid {
	font-size: 9px;
	font-weight: bold;
}

.dgrid-column-name {
   color: blue;
}