<div data-dojo-type="dojox/mobile/View" data-dojo-props="keepScrollPos: false">
    <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="boxscoreDetailHeading" class="headerClass">
        <div style="float:left">
            <span data-dojo-attach-point="back_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none', back:true " class="fa fa-arrow-left fa-lg backBtnClass"></span>
        </div>
        <div style="float:right">
            <span>&nbsp;</span>
            <div data-dojo-attach-point="prev_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <div data-dojo-attach-point="next_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <span>&nbsp;</span>
        </div>
    </h1>

    <div data-dojo-attach-point="divProgress" data-dojo-type="dojox/mobile/Container">
    </div>

    <div data-dojo-type="dojox/mobile/ScrollableView" data-dojo-attach-point="divContainer">
        <div data-dojo-attach-point="divBoxscore"></div>
    </div>

</div>