<div data-dojo-type="dojox/mobile/View" >
    <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="boxscoresHeading" class="headerClass">
        <div style="float:left">
            <span data-dojo-attach-point="back_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none', back:true " class="fa fa-arrow-left fa-lg backBtnClass"></span>
        </div>
    </h1>

    <table style="width: 100%; margin: 5px;">
    <tr><th>
        <div class="boxscoreDatePicker">
            <div data-dojo-attach-point="datePicker" data-dojo-type="dojox/mobile/ValuePickerDatePicker" ></div>
        </div>
    </th></tr>
    </table>

    <div data-dojo-type="dojox/mobile/ScrollableView">
        <ul data-dojo-type="dojox/mobile/EdgeToEdgeList" data-dojo-attach-point="boxscoreList">
        </ul>
    </div>

</div>