<div data-dojo-type="dojox/mobile/View" data-dojo-props="keepScrollPos: false">
    <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="boxscoresHeading" class="headerClass">
        <div style="float:left">
            <span data-dojo-attach-point="back_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none', back:true " class="fa fa-arrow-left fa-lg backBtnClass"></span>
        </div>
    </h1>
    <div class="boxscoreDatePicker">
        <div data-dojo-attach-point="datePicker" data-dojo-type="dojox/mobile/ValuePickerDatePicker" class="datePicker"></div>
    </div>

    <div data-dojo-attach-point="divProgress" data-dojo-type="dojox/mobile/Container">
    </div>

    <div data-dojo-type="dojox/mobile/View">
        <ul data-dojo-type="dojox/mobile/EdgeToEdgeList" data-dojo-attach-point="boxscoreList">
        </ul>
    </div>

</div>