<div data-dojo-type="dojox/mobile/View" data-dojo-props="keepScrollPos: false">
    <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="compareHeading" class="headerClass">
        <div style="float:left">
            <span data-dojo-attach-point="back_btn" data-dojo-type="dojox/mobile/ToolBarButton"
                  data-dojo-props="transitionDir:'-1', transition:'none', back:true "
                  class="fa fa-arrow-left fa-lg backBtnClass"></span>
        </div>
    </h1>
    <br>

    <div style="width: 100%; font-weight: bold; color: #E41A4C !important;" class="infoClass">Select Player 1
    </div>
    <br>
    <br>
    <div style="width: 100%; align-content: center;">
        <div data-dojo-attach-point="spin1" data-dojo-type="dojox/mobile/ValuePicker">
        </div>
    </div>
    <br>
    <div style="width: 100%; font-weight: bold; color: #E41A4C !important;" class="infoClass">Select Player 2
        <br>
        <br>
    </div>
    <div style="width: 100%; align-content: center;">
        <div data-dojo-attach-point="spin2" data-dojo-type="dojox/mobile/ValuePicker">
        </div>
        <br>
    </div>
    <div>
    <center><button data-dojo-attach-point="compareButton" data-dojo-type="dojox/mobile/Button">Compare</button></center>
    </div>


</div>