<div  data-dojo-type="dojox/mobile/View" id="home" class="bg_img">
    <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props=" fixed: 'top'" data-dojo-attach-point="mainViewHeading" class="mainViewHeading">
            <div data-dojo-attach-point="headerPadding" class="headerPadding"></div>
        <span class="title" data-dojo-attach-point="headerTitle"></span>
    </h1>

    <div data-dojo-type="dojox/mobile/ScrollableView">
        <div data-dojo-type="dojox/mobile/EdgeToEdgeList" data-dojo-attach-point="mainMenu" >
        </div>
        <br>
    </div>

</div>