<div data-dojo-type="dojox/mobile/View" >
    <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="leadersHeading" class="headerClass">
        <div style="float:left">
            <span data-dojo-attach-point="back_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none', back:true " class="fa fa-arrow-left fa-lg backBtnClass"></span>
        </div>
    </h1>

    <ul data-dojo-type="dojox/mobile/EdgeToEdgeList" data-dojo-attach-point="categories">
    </ul>

</div>