<div data-dojo-type="dojox/mobile/View" data-dojo-props="keepScrollPos: false">
    <div data-dojo-attach-point="headingPlayerDetail" data-dojo-type="dojox/mobile/Heading"  class="headerClass">
        <div style="float:left">
            <span data-dojo-attach-point="back_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none', back:true " class="fa fa-arrow-left fa-lg backBtnClass"></span>
        </div>
        <div style="float:right">
            <div data-dojo-attach-point="fav_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <span>&nbsp;</span>
            <div data-dojo-attach-point="prev_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <div data-dojo-attach-point="next_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <span>&nbsp;</span>
        </div>
    </div>


    <div data-dojo-attach-point="playerHeader">
    </div>
    <div data-dojo-attach-point="playerViewHeader">
    </div>
    <ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props='barType:"segmentedControl"'>
        <li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-props='selected:true' data-dojo-attach-point="tabButtonSeason">Season</li>
        <li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-point="tabButtonGameLog">GameLog</li>
        <li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-point="tabButtonCareer">Career</li>
    </ul>
    <br>
    <div data-dojo-attach-point="divProgress" data-dojo-type="dojox/mobile/Container">
    </div>
    <div data-dojo-type="dojox/mobile/View" data-dojo-attach-point="playerDetailScrollableView">
            <div data-dojo-attach-point="playerView" style="display: block;">
            </div>
            <div data-dojo-attach-point="gridView" style="display: none; font-size: 10pt !important;">
            </div>
        <br>
    </div>
</div>