<div data-dojo-type="dojox/mobile/View">
    <div data-dojo-type="dojox/mobile/Heading" data-dojo-attach-point="teamStatsHeading" class="headerClass">
        <div style="float:left">
            <span data-dojo-attach-point="back_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none', back:true " class="fa fa-arrow-left fa-lg backBtnClass"></span>
        </div>
        <div style="float:right">
            <div data-dojo-attach-point="fav_btn" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <span>&nbsp;</span>
            <div data-dojo-attach-point="prev_team" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <div data-dojo-attach-point="next_team" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="transitionDir:'-1', transition:'none'"></div>
            <span>&nbsp;</span>
        </div>
    </div>

    <div data-dojo-attach-point="divLogo" class="divLogo"></div>

    <ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props='barType:"segmentedControl"'>
        <li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-props='selected:true' data-dojo-attach-point="tabButtonSeason">Regular Season</li>
        <li data-dojo-type="dojox/mobile/TabBarButton" data-dojo-attach-point="tabButtonPlayoff">Playoff</li>
    </ul>

    <div data-dojo-type="dojox/mobile/ScrollableView">
        <div data-dojo-attach-point="divTeamStats" style="font-family: Helvetica !important; align:center; font-size: 9pt !important;">
        </div>
    </div>


</div>